.texthome-container{
    background-color: aliceblue;
}

.texthome-container h3{
    text-align: center;
}
.textare-input-Analyser{
    width:70%;
    margin: 1% 15% 0% 15%;
}
.textare-input-Analyser textarea{
    width: 100%;
    height: 18rem;
    border: none;
    background-color: white;
}
.textare-input-Analyser button{
    padding: 0.5% 2%;
    margin:1% 1% 1% 0%;
    background-color: rgb(35, 90, 255);
    color: white;
    font-weight: 600;
    border: none;
}
.textare-input-Analyser p{
    font-size: 0.7em;
    font-weight: 600;
}